.container {
  font-size: 1.2rem;
  text-underline-offset: 0.2em;
}

.marking {
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mark_table_ctr {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.mark_table tr,
.mark_table th {
  border: 1px solid #111;
  padding: 8px;
}
.mark_table td {
  padding: 8px;
}

.mark_table tr:nth-child(1) {
  background-color: #f1f1f1;
  font-weight: 700;
}
.mark_table tr:last-child {
  font-weight: 700;
}

.star {
  color: #ff0000;
  font-weight: 900;
}

.total_explanation {
  padding: 1rem 0 0.5rem;
}

.value_added_li {
  padding: 0 1rem;
}
